@import '../../bower_components/bootstrap/less/bootstrap.less';
@import 'fonts.css';

.embed {
  width: 100%;
}

@aimeRed : #c0171d;

@font-size-base: 20px;

body {

  /*background-color: grey;*/
   font-family: NovelPro-Light;
   color:@aimeRed;
   padding-bottom: 100vh;

   .embedContainer {
    padding-top: 20vh;
      height: 80vh;
  }

  strong {
       font-family: NovelSansPro-SemiBold;
  }
  a {
    color: @aimeRed;
    font-family: NovelSansPro-SemiBold !important;
  }
  overflow: hidden;
}

.title { display: none; }

.fixed {
  .title:first-child {
    position:fixed;
    top:0;
    width: 100%;
    padding: 5vh;
    margin: 0;
    text-align: center;
    background-color: white;
    display: block;
    z-index: 9000;
  }
}


twitterwidget {
  float: left;
}

twitterwidget::shadow {

  .FollowButton, .Tweet-actions, time{
    visibility: hidden;
  }

  .TweetAuthor, .Icon--twitter {
    display: none;
  }

  .EmbeddedTweet-ancestor blockquote {
    padding-left: 0;
  }

  .PrettyLink.media {
    display: none;
  }


  * {
    border:none !important;
    background-color: white !important;
    font-size: @font-size-base;
    font-family: NovelPro-Light;
  }

  .MediaCard-siteUser, .PlayButton{ display: none; }

  a {
    color: @aimeRed;
    font-family: NovelSansPro-SemiBold !important;
  }
}


  .embed img {
    .img-responsive();
  }

  .flickr-embed-frame {
    display: none;
  }


