{{debug}}

{{#each procedures}}

  <div class="section">
    <h4 class="title">RM!&nbsp;&nbsp;&nbsp;PROCEDURE {{@key}}</h4>
    {{#each this}}
      {{#newLine @index}}<div class="row line">{{/newLine}}
        <div class="col-sm-4 embedContainer">
          <a href="{{url}}" class="embed"></a>
        </div>
      {{#newLine @index}}</div>{{/newLine}}
    {{/each}}



  </div>


{{/each}}
